<h3>Create New Week</h3>
    <%= form_for @assignments_week do |f| %>
      Week of: <%= f.date_select(:start_date, {}, {class: "form-control form-control-medium"}) %> to <%= f.date_select(:end_date, {}, {class: "form-control form-control-medium"}) %>
      <%= f.submit "Create", class:"btn btn-default" %>
    <% end %>
